services:
  postgres:
    image: 'postgres:15.4-alpine'
    container_name: numeroscope-db
    environment:
      POSTGRES_DB: numeroscope
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
