spring:
  application:
    name: numeroscope
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driverClassName: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
telegram:
  bot:
    username: ${BOT_USERNAME}
    token: ${BOT_TOKEN}
server:
  port: ${SERVER_PORT}
